@media screen and (max-width: 600px){
    .slider .caption p{
        display: none;
    }
    .slider .caption h2{
        font-size: 35px;
    }
    .left,.right{
        font-size: 30px;
    }
    .slider li img{
        width:600px;
    }
    .pagination{
        display: none;
    }
}